<article>
<%= form_for @album do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name, cols:"50" %></p>

  <p><%= f.label :artist %></p>
  <p><%= f.text_field :artist, cols:"50" %></p>

  <p><%= f.label :description %></p>
  <p><%= f.text_area :description, cols:"50", rows:"10" %></p>

  <%= f.hidden_field :ranked, :value => 0 %>

  <%= f.submit "Save" %>
<% end %>
</article>
